<ion-header>

  <ion-navbar>
    <ion-title>Add Entry</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="formGroup" (ngSubmit)="saveEntry(formGroup.value)">
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" formControlName="date"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Title</ion-label>
            <ion-input type="text" name="title" formControlName="title"></ion-input>
            <div class="alert" *ngIf="!formGroup.controls['title'.valid" 
            && "formGroup.controls['title'].touched">{{ titleAlert }}</div>
        </ion-item>
        <ion-item>
            <ion-label>What happened today?</ion-label>
            <ion-input type="text" name="content" formControlName="content"></ion-input>
            <div class="alert" *ngIf="!formGroup.controls['content'.valid" 
            && "formGroup.controls['content'].touched">{{ contentAlert }}</div>
        </ion-item>
        <button ion-button type="submit" [disabled]="!formGroup.valid">Save</button>
    </form>
</ion-content>
